{
  "development": {
    "username": "postgres",
    "password": "postgres",
    "database": "blog-development",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres",
    "operatorsAliases": false
  },

  "staging": {
    "username": "username",
    "password": "your password",
    "database": "blog-staging",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres",
    "operatorsAliases": false
  },

  "production": {
    "username": "username",
    "password": "your password",
    "database": "blog-product",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres",
    "operatorsAliases": false
  },
  "test": {
    "username": "username",
    "password": "your password",
    "database": "blog-test",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres",
    "operatorsAliases": false
  }
}