{
  "development": {
    "APP_NAME": "Blog",
    "APP_VERSION": "1",
    "APP_DESCRIPTION": "",
    "APP_HOST": "localhost:3000",
    "SWAGGER_URL": "http://localhost:3000/swagger/swagger.json"
  },

  "staging": {
    "APP_NAME": "Blog",
    "APP_VERSION": "1",
    "APP_DESCRIPTION": "",
    "APP_HOST": "localhost:3000",
    "SWAGGER_URL": "http://localhost:3000/swagger/swagger.json"
  },

  "production": {
    "APP_NAME": "Blog",
    "APP_VERSION": "1",
    "APP_DESCRIPTION": "",
    "APP_HOST": "localhost:3000",
    "SWAGGER_URL": "http://localhost:3000/swagger/swagger.json"
  },
  "test": {
    "APP_NAME": "Blog",
    "APP_VERSION": "1",
    "APP_DESCRIPTION": "",
    "APP_HOST": "localhost:3000",
    "SWAGGER_URL": "http://localhost:3000/swagger/swagger.json"
  }
}